.AssignmentHtmlBox {
    width: 50%;
    padding: 15px;
    float: left;
.box {
    border: 1px solid #707070;
    //width: 615px;
    width: 100%;
    min-height: 360px;
    //height:auto;
    padding: 15px;

    .top {
        width: 100%;
        display:flex;
        flex-direction: row;
        .studentInfo {
            margin-bottom: 15px;
            margin-left: 3px;
    
            .studentNumber {
                font-size: 17px;
                font-weight: bold;
                color: #626262;
            }
            .studentName {
                font-size: 13px;
                color: #848484;
            }
        }
        .score {
            flex:1;
            text-align: right;
        }
        
    }
    .result {
        border: 1px solid #707070;
        //width: 580px;
        width: 100%;
        height: 260px;
        overflow-y: auto;
    }
    .codeView {
        height: 375px;
        //스크롤 추가
        overflow-y: auto;
        border: 1px solid #707070;
        width: 100%;
        margin-top: 20px;
        padding: 7px;
    }
    
}
}