.AssignmentHtmlBox {
    padding: 15px;
    width: 50%;
    float: left;

    @media screen and (max-width:1280px){
        width: 100%;
    }


    .box {
        position: relative;
        border: 1px solid #707070;
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;

        .studentInfo {
            margin-bottom: 15px;
            margin-left: 3px;
            width: 200px;
    
            .studentNumber {
                font-size: 17px;
                font-weight: bold;
                color: #626262;
            }
            .studentName {
                font-size: 13px;
                color: #848484; 
            }
        }

        .grade {
            position: absolute;
            top: 15px;
            right: 15px;
        }

       .Code {
            margin-top: 10px;
            border: 1px solid #ccc;
            width: 100%;
            height: 300px;
            white-space: nowrap;

            display: flex;
            
            & > * {
                position: relative;
                flex: 1;

                &.border {
                    border-right: 1px solid #ccc;
                    padding-right: 10px;
                    margin-right: 10px;
                }

                .live {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    overflow: auto;
                    
                    * { 
                        font-family: revert ;
                        font-weight: revert ;
                        font-size: revert ;
                        text-shadow: revert ;
                        -webkit-font-smoothing: revert ;
                        -moz-osx-font-smoothing: revert ;
                        margin: revert ;
                        padding: revert ;
                        border: revert ;
                        box-sizing: revert ;
                    }
                }
            }
        }
        
    }
}
