.form-control {
	border-bottom: 1px solid #CCCCCC;
	background-color: transparent;
	outline: none;
	font-size: 13px;
	color: #747474;
	padding-left: 5px;
	height: 50px;

	&:focus {
		border-bottom: 2px solid #048DEE;
	}

	&::placeholder {
		color: #ABABAB;
	}

	&.height {
		&_default {
			height: 50px;
			line-height: 50px;
		}

		&_small {
			height: 40px;
			line-height: 40px;
		}
	}
}