.ComboBox {
	cursor: pointer;
	outline: none;
	border-radius: 0;
	border: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	padding-left: 5px;
	background: #F8F8FA;
	color: #747474;
	padding-bottom: 10px;
	border-radius: 0px;
	border-bottom: 1px solid #ccc;

	&::placeholder {
		color: #ababab;
	}

	&:focus {
		border-bottom: 2px solid #048DEE;
	}

}