.add {
    width:100%;
    height: 100%;
    padding:10px;
    
    .explain {
        width:370px;
        height: 100%;
        border-right: 1px solid #CCCCCC;
        padding-right: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        form{
            max-height:100%;
            width: 100%;
        .title{
            width:100%;
            height: auto;
            border-bottom:1px solid #EEEEEE;
            padding: 5px;
            overflow: hidden;
            
            .language{
                width:70px;
                height:35px;
                font-size: 11px;
                background: #F6FBFF;
		        border: 1px solid #86C3EE;
                color: #86C3EE;
                text-align-last: center;
                float: left;
                padding: 1px;
                -webkit-appearance:none;
	            -moz-appearance:none;
	            appearance:none
            }
            .text{
                width: 270px;
                min-height: 35px;
                font-size: 12px;
                border-bottom: 1px solid #CCCCCC;
                background-color: transparent;
                outline:none;
                padding-top: 5px;
                padding-left: 5px;
                color:#646464;
                float: right;
                resize:none;
                margin-bottom: 10px;
                overflow-y:hidden;

                &:focus {
                    border-bottom: 2px solid #048DEE;
                }

                &::placeholder {
                    color: #ABABAB;
                }
            }
        }
        .middle{
            overflow-y:scroll;
            padding: 10px;
            
            .content {
                width: 100%;
                padding: 10px;
                border-bottom: 1px solid #CCCCCC;
                height: 50px;
                font-size: 15px;
                color: #646464;
                outline:none;
                resize:none;
                overflow-y:hidden;
            }
            .bottom{
                width: 100%;
                padding-top: 15px;
                .example{
                    width: 100%;
                    padding: 15px 0px;
                    p{
                        font-size: 20px;
                        color:#646464;
                        margin-bottom: 10px;
                        font-weight: 400;
                    }
                    .input, .output {
                        width:100%;
                        font-size: 18px;
                        padding: 3px 8px;
                        outline:none;
                        resize:none;
                        overflow-y:hidden;
                        min-height: 70px;
                    }

                    .input{
                        background: #F6FBFF;
                        border: 1px solid #86C3EE;
                        color: #86C3EE;
                        margin: 15px 0px;
                    }
                    .output{
                        background: #F5FBF7;
                        border: 1px solid #88BA97;
                        color: #88BA97;
                    }
                }
            }
        }
    }
        

        
    }

    .codeEditor{

    }
}