.CodeEditorLayout {
	width: 100%;
	height: 100%;
	display: flex;

	.text {
		min-height: 35px;
		height: 35px;
		font-size: 12px;
		line-height: 22px;
		border-bottom: 1px solid #CCCCCC;
		background-color: transparent;
		outline: none;
		padding-top: 5px;
		padding-left: 5px;
		color: #646464;
		resize: none;
		overflow-y: hidden;

		&:focus {
			border-bottom: 2px solid #048DEE;
		}

		&::placeholder {
			color: #ABABAB;
		}
	}

	.explain {
		position: relative;
		width: 370px;
		height: 100%;
		border-right: 1px solid #CCCCCC;
		padding-right: 10px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		float: left;

		.title {
			width: 100%;
			height: auto;
			border-bottom: 1px solid #eee;
			padding: 5px;
			overflow: hidden;

			display: flex;
			flex-direction: row;

			.language {
				width: 70px;
				height: 35px;
				font-size: 11px;
				background: #F6FBFF;
				border: 1px solid #86C3EE;
				color: #86C3EE;
				text-align-last: center;
				float: left;
				padding: 1px;
				outline: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				margin-right: 5px;
				border-radius: 0px;

				&:focus {
					border: 1px solid #048DEE;
				}
			}

			.text {
				flex: 1;
				margin-bottom: 5px;
			}
		}

		.middle {
			overflow-y: auto;
			padding: 10px;
			flex: 1;

			hr {
				margin: 15px 0px;
			}

			.item_title {
				font-size: 11px;
				color: #646464;
				padding-left: 5px;
				padding-bottom: 5px;
			}

			.text {
				width: 100%;
			}

			.date {

				.wrap {
					margin-bottom: 15px;
				}

				.extend {

					.typeLabel {
						font-size: 13px;
						color: #646464;
						padding-right: 15px;
					}

					.extendType {
						margin: 0px 5px;
						-webkit-appearance: checkbox;

					}

					.extendDate {}
				}
			}
		}
	}

	.code {
		flex: 1;
		display: flex;
		flex-direction: column;
		float: left;
		padding-left: 10px;

		.testTitle {
			font-size: 16px;
			color: #646464;
			padding: 10px;
			border-bottom: 1px solid #CCCCCC;
			width: 100%;
		}

		.editor {
			flex: 3;
			
			.content {
				width: 100%;
				height: 100%;
				padding: 10px;
				border-bottom: 1px solid #CCCCCC;
				font-size: 12px;
				color: #646464;
				outline: none;
				resize: none;
				overflow-y: hidden;
			}
		}

		.result {
			border-top: 1px solid #ccc;
			position: relative;
			padding-top: 5px;
			min-height: 150px;
			flex: 1;
			overflow-y: auto;

			.buttons {
				position: absolute;
				top: 10px;
				right: 10px;
			}
		}
	}
}