.Example {
	width: 100%;
	margin-top: 10px; 
	position: relative;

	.hiddenCheck {
		position: absolute;
		right: 5px;
		top: 5px;
		width: 80px;
		
		input[type='checkbox'] {
			-webkit-appearance: checkbox;
			height: 20px;
			float: right;
		}

		label {
			margin-right: 7px;
			font-size: 11px;
			line-height: 12px;
			text-align: right;
			float: right;
			line-height: 20px;
		}
	}

	p {
		font-size: 18px;
		color: #646464;
		font-weight: 400;
		margin-bottom: 15px;
	}

	textarea {
		margin-bottom: 10px !important;

		&.color-green {
			margin-bottom: 0px !important;
		}
	}




}