.Table {
	thead {
		tr {
			height: 50px;
			border-bottom: 1px solid #ddd;

			th {
				color: #048DEE;
				font-size: 13px;
				font-weight: 500;
			}

		}
	}

	tbody {
		tr {
			cursor: pointer;
			height: 60px;
			border-bottom: 1px solid #eee;

			&:hover {
				background: #F5FAFF;
				color: #5FA8F3;
			}

			td {
				color: #646464;
				font-size: 13px;

			}

			td[align='left'] {
				padding-left: 5px;
			}

			td[align="center"] {
				text-align: center;

				&>* {
					margin: 0 auto;
				}
			}
		}
	}
}