.InputType {
	cursor: pointer;
	height: 35px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;  
    background: #F8F8FA;
	-webkit-appearance: none;
	outline: none;


	&:focus {
        border-bottom: 2px solid #048DEE;
    }

	// border: 1px solid #9BA9FF;
	// background: #fff;
	// color: #9BA9FF;


	&::placeholder {
		color:#ABABAB;
	}
}